.sourceSelectorRoot {
  display: inline-flex;
  flex-flow: column;
  gap: 0.25rem;
  padding: 0.5rem;

  & > select {
    background-color: #ccc;
    border: 1px solid #f1f1f3;
    color: #f1f1f3;
    padding: 0.5rem;
  }
}
