.root {
  display: flex;
  flex-flow: column;
  height: 100vh;
  min-height: 0;

  & > main {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    gap: 0.5rem;
    min-height: 0;
    overflow-y: auto;
    padding: 0.5rem;

    & > article {
      flex-grow: 1;
    }
  }
}
